.index {
    /* 首页列表 */
    position: relative;
    width: 750rpx;
    min-height: 100vh;
    background: linear-gradient(180deg, #CFE1ED 3%, rgba(246,251,252,0.60) 40%, rgba(255,255,255,0.00) 96%);
    .slogan {
        /* Everything you want to know in BUPT */

        position: absolute;
        left: 60rpx;
        top: 60rpx;
        width: 466rpx;
        height: 246rpx;
                    
        font-family: 'Gen Jyuu Gothic Light';
        font-size: 62rpx;
        font-weight: 200;
        line-height: 81rpx;
        letter-spacing: 0px;
            
        color: #09051C
    }
    .aboutIcon {
        /* about */

        position: absolute;
        left: 582rpx;
        top: 102rpx;
        width: 90rpx;
        height: 90rpx;
	
    }
    .indexWrapper {
        position: absolute;
        width: 650rpx;
        top: 310rpx;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 12rpx 50rpx;
        @mixin sharedTitle {
            width: 120rpx;
            height: 40rpx;
            font-size: 30rpx;
            font-weight: 300;
            line-height: 40rpx;
            letter-spacing: 0px;
                
            color: #09051C;
        
        }
        .campusLifeBox {
            /* 校园生活 */
            width: 100%;
            height: 360rpx;
                        margin: 20rpx 0rpx;
            .title {
                @include sharedTitle;
            }
            .campusLifeWrapper {
                /* 校园生活模块 */
                margin-top: 22rpx;
                width: 650rpx;
                height: 300rpx;
                                    
                .campusLifeWrapperBg {
                    /* Frame */

                    width: 650rpx;
                    height: 300rpx;
                    border-radius: 32rpx;
                                            
                    background: linear-gradient(118deg, #4D9CF9 -1%, #15BE77 102%);
                        
                }
            }
        }
        @mixin sharedViewMore {
            /* View More */

            width: 119rpx;
            height: 32rpx;
                            
            font-family: 'Gen Jyuu Gothic';
            font-size: 24rpx;
            font-weight: 100;
            line-height: 31rpx;
            letter-spacing: 0px;
                
            color: #FF7C32;
                
        }
        .orgnizationBox {
            /* 社团组织 */
            width: 100%;
            margin: 20rpx 0rpx;
            .orgnizationTopWrapper {
                display: flex;
                justify-content: space-between;
                .title {
                    @include sharedTitle;
                }
                .viewMore {
                    @include sharedViewMore;
                }
            }
            .orgnizationWrapper {
                width: 100%;
                height: 300rpx;
                display: flex;
                overflow-x: scroll;
                column-gap: 16rpx;
                margin-top: 22rpx;
                .orgnizationItem {
                    flex-shrink: 0;
                    width: 300rpx;
                    height: 100%;
                    border-radius: 32rpx;
                    background: linear-gradient(270deg, #FEFEFF 0%, #4D9CF9 100%);
                    font-size: 38px;
                    //font-weight: normal;
                    line-height: 200px;
                    letter-spacing: 5px;
                    font-family: YouSheBiaoTiHei;
                    .explain{
                        color:#5699e5;
                        line-height: 0px;
                        letter-spacing: 10px;
                        font-size: 80px;
                        font-weight: bolder;
                        font-style: italic;
                        text-align: right;
                    }
                }
            }
        }
        .questionBox {
            /* 自由问答 */
            width: 100%;
            margin: 20rpx 0rpx;
            .questionTopWrapper {
                display: flex;
                justify-content: space-between;
                .title {
                    @include sharedTitle;
                }
                .viewMore {
                    @include sharedViewMore;
                }
            }

            .questionWrapper {
                /* 自由问答模块 */
                background: #FEFEFF;
                width: 100%;
                height: 150rpx;
               // overflow-y: scroll;
                column-gap: 16rpx;
                margin-top: 50rpx;
                width: 100%;
                border-radius: 32rpx;
                background: whitesmoke;
                .number{
                        width: 100px;
                        font-size: 80px;
                        color: #FF7C32;
                        font-weight: bolder;
                        line-height: 100px;
                        float: left;
                        margin-top: 20px;
                        margin-left: 40px;
                    }
                    .text{
                        float:left;
                        width:400px;
                        .question {
                            font-size: 35px;
                            font-family: Gen Jyuu Gothic;
                            font-weight: 250px;
                            line-height: 100px;
                            letter-spacing: 0px;
                            text-align: center;
                            color: #09051C;
                        }
                        .answer{
                            font-size: 30px;
                            line-height: 50px;
                            font-weight: 350px;
                            color: grey;
                            text-align: center;
                        }
                    }
            }
        }

    }

}